.groupContainer {
    height: 100%;
}

.settings-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 20px;
    text-align: left;
}

.settingInput {
    background: transparent;
    border: 1px solid lightgrey;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
}

.descContainer {
    margin-top: 10px;
    height: 80px;
}

.descContainer textarea {
    height: 80px;
}

.dangerContainer {
    justify-content: space-between;
    margin-top: 120px;
    display: flex;
    align-items: end;
    flex-direction: row;
}

.updateContainer {
    justify-content: flex-start;
    margin-top: 10px;
    display: flex;
    align-items: start;
}

.btn-update {
    width: 120px;
    background: #0e490e;
    color: white;
    border: none;
}

.dangerContainer .btn-custom {
    width: 180px;
    background: red;
    color: white;
    border: none;

}

.tagWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagWrapper .tag {
    margin-right: 4px;
    background: whitesmoke;
    color: black;
    border-radius: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    margin-bottom:8px;
}

.profileContainer {
    display: flex;
    align-items: center;
}

.groupIconWrapper {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
}

.groupContainer img {
    border-radius: 50%;
}

.tag-input {
    background: transparent;
    border: none;
    color: whitesmoke;
}
.tag-items{
    position: absolute;
    max-height: 100px;
    overflow-y: auto;
}
.token{
    margin-top:4px;
    cursor: pointer;
    text-align: center;
}
.token:hover{
     background: whitesmoke;
    color:black;
    border-radius: 8px;

}