.groupContainer {
    height: 100%;
}

.settings-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
}

.settingInput {
    background: transparent;
    border: 1px solid lightgrey;
    padding: 4px 8px;
    color: white;
    border-radius: 4px;
}

.descContainer {
    margin-top: 10px;
    height: 80px;
}

.descContainer textarea {
    height: 80px;
}

.dangerContainer {
    justify-content: end;
    display: flex;
    align-items: end;
    flex-direction: row;
    width:100%;
    position: sticky;
    bottom:0;
    padding:10px;
    border-radius: 4px;
    margin:4px 0;
}
.MdangerContainer{
    flex-direction:column
}

.updateContainer {
    justify-content: flex-start;
    margin-top: 10px;
    display: flex;
    align-items: start;
}

.btn-update {
    width: 120px;
    background: #005c00 ;
    color: white;
    border: none;
}

.dangerContainer .btn-custom {
    background: #ea000073;
    color: white;
    border: none;

}

.tagWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagWrapper .tag {
    margin-right: 4px;
    background: whitesmoke;
    color: black;
    border-radius: 40px;
    padding: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.profileContainer {
    display: flex;
    align-items: center;
}

.groupIconWrapper {
    height: 35vh ;
    width: 100%;
    border-radius: 50%;
    padding:4px 10px;
    margin:2px 0;
}

.groupContainer img {
    object-fit: cover;
    border-radius: 10px;
}

.tag-input {
    background: transparent;
    border: none;
    color: whitesmoke;
}

.tag-items {
    position: absolute;
    max-height: 105px;
    overflow-y: auto;
}

.token {
    margin-top: 4px;
    cursor: pointer;
    text-align: center;
}

.token:hover {
    background: whitesmoke;
    color: black;
    border-radius: 8px;

}