.chatWrapper {
    background: transparent;
    height: 100%;
}

.chatContainer {
    display: flex;
    height: 100%;
    padding: 4px;
    transition: all 3s;
 
}

.containerA {
    width: 100%;
    height: 100%;
    flex:4;
    transition: visibility 0s, opacity 0.5s linear;
    background: #1e1d1e;
    z-index: 9999999;
    border-radius: 10px;
}

.containerB {
    width: 100%;
    height: 100%;
    padding: 4px;
    flex:5;
}
.containerC {
    height: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex:1;
}
