.chatWrapper{
    background: transparent;
    height:100%;
}
.chatContainer{
    display: flex;
    height:100%;
    padding:4px;
}
.containerA {
    width:25%;
    height: 100%;
}
.containerB{
    width:70%;
    height: 100%;
    padding:4px;
}
.containerC{
    height: 100%;
    padding:4px;
    width: 5%;
}