.chatWrapper {
    background: transparent;
    height: 100%;
}

.chatContainer {
    display: flex;
    height: 100%;
    padding: 4px;
}

.containerA {
    width: 30%;
    height: 100%;
}

.containerB {
    width: 65%;
    height: 100%;
    padding: 4px;
}

.containerC {
    height: 100%;
    padding: 4px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: start;
}

@media (max-width: 767px) {
    .containerA {
        display: none;
    }

    .containerC {
        display: none;
    }

    .containerB {
        width: 100%;
    }

}