.item-option-active{
    border-bottom: 2px solid whitesmoke;
    transition:all 0.5s;

}
.options-wrapper div{
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.members-container{
    overflow-y: auto;
    height:100%;
}

.options-panel-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D1D1D;
    border-radius: 71px;
    border: 1px solid lightgrey;
    top: 0;
    width: 100%;
    z-index: 999999 !important;
    padding:10px 0;
}