.item-option-active{
    border-bottom: 2px solid lightgray;
}
.options-wrapper div{
    width: 40px;
    text-align: center;
    cursor: pointer;
    margin: 0 40px;
}
.members-container{
    heighht:100%;
    overflow-y: auto;
}