.main-container-wrapper{
    padding:10px;
    height: 100%;
    margin:0 5vw;
    min-width: 75vw;
    width: 90vw;
}
.main-container{
    background:#1C1D1C;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    height: 100%;
}
.fullCover{
    width: 100%;
    margin:0;
    padding:0;
}
.fullCover .main-container, .fullCover .chatContainer{
    border-radius: 0px;
    border:none;
}
