.main-container-wrapper{
    padding:10px;
    height: 100%;

    margin:0 5vw;
    min-width: 75vw;
}
.main-container{
    background:#1e1d1e;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    min-width: 85vw;
    width: 85vw;
height: 100%;
}