.group-item-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    height:100%;
    width: 100%;
}
.item-wrapper{
    height:100%;
    width:100%;
    border:1px solid white;
    border-radius: 50%;
    cursor: pointer;
}
.group-item-container{
    height: 60%;
    width: 70%;

}
.item-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.groupIcon-container-wrapper{
    margin:10px 0;
    height: 100%;
    width: 100%;
}