.chatContainer {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.chatContainer .wrapper {
    height: 100%;
    width: 100%;
}

.noChatContainer {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyImage {
    height: 20rem;
    display: flex;
    justify-content: center;

}

.emptyImage img {
    height: 100%;
    width: 100%;
}

.convoPanel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top:10px;
}

.convoHistory {
    width: 100%;
    overflow-y: auto;
    padding: 10px 20px;
    height: 90%;
}
.textSentInputBtn{
    bottom:0;
    width:100%;
    height:fit-content
}

.optionsPanel {
    justify-self: end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.sendInput {
    width: 100%;
    padding: 6px;
    background: transparent;
    border: 1px solid whitesmoke;
    border-radius: 40px;
    color: white;
}

.inputWrapper {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.messageWrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 6px 0;
}

.selfMessage {
    justify-content: end;
    text-align: end;
}

.messageBubble {
    padding: 4px 10px;
    color: black;
    margin: 1px;
    background: lightgrey;
    border-radius: 4px;
    width: fit-content;
    max-width: 85%;
    line-break: anywhere;
    text-align: left;
    font-size: 16px;
    position: relative;
}

.selfMessageBubble {
    height: auto;
    background: #044a40;
    border-radius: 4px;
    color: white;
    margin-left: auto;
}

.contentWrapper {
    width: 100%;
}

.miscContainer {
    padding: 0 4px;
    font-size: 10px;
}


.wrapperContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.infoPanel {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap
}

.itemTags {
    height: fit-content;
    padding: 2px 2px;
    margin: 0px 2px;
    background: whitesmoke;
    color: #398378;
    border-radius: 4px;
}

.convoPanel {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.tagsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1D1D1D;
    border-radius: 71px;
    border: 1px solid  #464646;
    top: 0;
    width: 100%;
    padding: 8px 0;
}

.tagsWrapperName {
    color: white;
    font-size: 16px;
    margin: 0 10px;
}

.usernamewrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(133, 133, 133, 0.56);
    border-radius: 50%;
    position: relative;
    margin: 0px 4px;
    position: relative;
    overflow: hidden;
    margin:0px 8px;
}


/* Styles for the circles */
.user-circle {
    display: block;
}

.user-circle:nth-child(10n +1) {
    top: 2px;
    left: 0;
}
.user-circle:nth-child(10n +2) {
    top: -4px;
    left: 4px;
}
.user-circle:nth-child(10n +3) {
    top: 2px;
    left: -2px;
}
.user-circle:nth-child(10n +4) {
    top: 4px;
    left: 10px;
}
.user-circle:nth-child(10n +5) {
    top: 1px;
    left: 4px;
}
.user-circle:nth-child(10n +6) {
    top: 10px;
    left: 0;
}
.user-circle:nth-child(10n +7) {
    top: 10px;
    left: 0;
}
.user-circle:nth-child(10n +8) {
    top: 10px;
    left: 0;
}
.user-circle:nth-child(10n +9) {
    top: 10px;
    left: 0;
}


/* Define the animations for the icons */
.user-circle {
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

.user-circle:nth-child(10n+1) {
    animation-duration: 10s;
}

.user-circle:nth-child(10n+2) {
    animation-duration: 12s;
}

.user-circle:nth-child(10n+3) {
    animation-duration: 8s;
}

.user-circle:nth-child(10n+4) {
    animation-duration: 14s;
}

.user-circle:nth-child(10n+5) {
    animation-duration: 8s;
}

.user-circle:nth-child(10n+6) {
    animation-duration: 14s;
}

.user-circle:nth-child(10n+7) {
    animation-duration: 6s;
}

.user-circle:nth-child(10n+8) {
    animation-duration: 9s;
}

.user-circle:nth-child(10n+9) {
    animation-duration: 8s;
}

.user-circle:nth-child(10n+10) {
    animation-duration: 14s;
}



@keyframes floating {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(5%, 15%);
    }
    50% {
        transform: translate(10%, 5%);
    }
    75% {
        transform: translate(0%, 15%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translate(0%, 0%);
    }
    25% {
        -webkit-transform: translate(5%, 15%);
    }
    50% {
        -webkit-transform: translate(10%, 5%);
    }
    75% {
        -webkit-transform: translate(0%, 15%);
    }
    100% {
        -webkit-transform: translate(0%, 0%);
    }
}


.usernameImage {
    height: 35px;
    width: 35px;
    border-radius: 50%;

}

.username {
    font-size: 14px;
    cursor: pointer;
}

.addMoreBtn {
    border: none !important;
    padding: 8px 8px;
    cursor: pointer;
    transition: background-color 50ms linear;
}

.addMoreBtn:hover {
    background: rgb(94, 94, 94);

}

.arrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 20px; /* Adjust border radius as needed */
    border-bottom-right-radius: 20px;
}

.arrow-left {
    border-bottom: 15px solid lightgrey;
    transform: rotate(-83deg);
    left: -12px;

}

.arrow-right {
    transform: rotate(90deg);
    border-bottom: 15px solid #044a40;
    right: -12px
}

.chatDate {
    color: lightgrey;
    font-size: 14px;
    text-align: center;
    padding: 6px 14px;
    background: #3f3f3f96;
    border-radius: 50px;
    margin: 10px 0;
}

.message-text-wrapper {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.scrollBottom {
    padding: 2px 4px;
    background: lightgrey;
    width: fit-content;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.inviteContainer {
    height: 100%;
    position: relative;
}

.inviteWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 12px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    overflow-y:scroll;
}

.tag-container .tag {
    margin: 2px 4px;
    background: lightgrey;
    width: fit-content;
    padding: 0 8px;
    border-radius: 40px;
    height:20px;
}

.inviteHeading {
    text-align: center;
    font-size: 30px;
}

.btn-Wrapper {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    flex: 1;
    align-items: center;
}

.btn-Wrapper .btn-custom {
    height: 30px;
    padding:2px 44px;
}

.block-text {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding:2px 10px;
    background: lightgray;
    color:black;
    height:2rem;
}


.btn-Wrapper .btn-custom:first-child {
    background: yellow;
}

.invite-labels {
    font-size: 20px;
}

.groupIcon_wrapper {
    height: 200px;
    width: 100%;
}
.groupIcon_wrapper img{
    object-fit: cover;
}

.groupIcon_wrapper_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.activity-text {
    position: absolute;
    left: 50%;
    background: #9a9a9a;
    color: black;
    padding: 3px 6px;
    border-radius: 40px;
    margin-top: 10px;
    z-index: 999;
    top: -5px; /* Start off the screen */
    transform: translateX(-50%);
    animation: slideFromTop 0.5s ease forwards;
    font-size: 12px;
}


@keyframes slideFromTop {
    to {
        top: 5px; /* Slides down to 10px from the top */
    }
}

.scrollToBottom {
    position: absolute;
    right: 40px;
    bottom: 60px;
    padding: 8px;
    background: lightgrey;
    border-radius: 50%;
    z-index: 99999;
    cursor: pointer;
    display: flex;
}
.sidePanelBtnContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:4px 2px;
    height:5%;
    min-height:30px;
    display: none;
}
.sidePanelBtnContainer .btn-wrapper-options{
    transition: all 0.5s;
    cursor:pointer;
}

.midPanelWrapper{
    height: 100%;
    position: relative;
    border-left:1px solid rgba(245, 245, 245, 0.13);
    border-right:1px solid rgba(245, 245, 245, 0.13);
    border-radius: 4px;
    padding:8px;
    display: flex;
    flex-direction: column;
}
.midPanelWrapper .shadow-box{
    height:100%;
}