.chatContainer {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.chatContainer .wrapper {
    height: 100%;
    width: 100%;
}

.noChatContainer {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptyImage {
    height: 20rem;
    display: flex;
    justify-content: center;

}

.emptyImage img {
    height: 100%;
    width: 100%;
}

.convoPanel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.convoHistory {
    height: 100%;
    width: 100%;
    flex: 10;
    overflow-y: auto;
    padding: 10px 12px;
    position: relative;
}

.optionsPanel {
    justify-self: end;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-top: auto;
}

.sendInput {
    width: 100%;
    padding: 6px;
    background: transparent;
    border: 1px solid whitesmoke;
    border-radius: 40px;
    color: white;
    height: 2.5rem;
}

.inputWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.messageWrapper {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 6px 0;
}

.selfMessage {
    justify-content: end;
    text-align: end;
}

.messageBubble {
    padding: 4px 10px;
    color: black;
    margin: 1px;
    background: lightgrey;
    border-radius: 4px;
    width: fit-content;
    max-width: 85%;
    line-break: anywhere;
    text-align: left;
    font-size: 16px;
    position: relative;
}

.selfMessageBubble {
    height: auto;
    background: #044a40;
    border-radius: 4px;
    color: white;
    margin-left: auto;
}

.contentWrapper {
    width: 100%;
}

.miscContainer {
    padding: 0 4px;
    font-size: 10px;
}


.wrapperContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.infoPanel {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    padding: 32px 0;
}

.itemTags {
    height: fit-content;
    padding: 2px 2px;
    margin: 0px 2px;
    background: whitesmoke;
    color: #398378;
    border-radius: 4px;
}

.convoPanel {
    display: flex;
    flex-direction: column;
}

.imageWrapper {
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.tagsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 10px;

}

.tagsWrapperName {
    color: white;
    font-size: 16px;
    margin: 0 10px;
}

.usernamewrapper {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(133, 133, 133, 0.56);
    margin: 0 4px;
    border-radius: 40px;
    position: relative;
}

.usernameImage {
    height: 25px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 2px;
}

.username {
    font-size: 14px;
    cursor: pointer;
}

.addMoreBtn {
    border: none !important;
    padding: 2px 8px;
    cursor: pointer;
    transition: background-color 50ms linear;
}

.addMoreBtn:hover {
    background: rgb(57, 131, 120);

}

.arrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 0px;
    border-bottom-left-radius: 20px; /* Adjust border radius as needed */
    border-bottom-right-radius: 20px;
}

.arrow-left {
    border-bottom: 15px solid lightgrey;
    transform: rotate(-83deg);
    left: -12px;

}

.arrow-right {
    transform: rotate(90deg);
    border-bottom: 15px solid #044a40;
    right: -12px
}

.chatDate {
    color: lightgrey;
    font-size: 14px;
    text-align: center;
    padding: 6px 0;
    background: #3f3f3f96;
    border-radius: 50px;
    margin: 10px 0;
    width: 6vw;
}

.message-text-wrapper {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.scrollBottom {
    padding: 2px 4px;
    background: lightgrey;
    width: fit-content;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.inviteContainer {
    height: 100%;
    position: relative;
}

.inviteWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invContainer {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 50px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.tag-container .tag {
    margin: 8px 2px;
    background: lightgrey;
    width: fit-content;
    padding: 0 8px;
    border-radius: 40px;
}

.inviteHeading {
    text-align: center;
    font-size: 4em;
}

.btn-Wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    flex: 1;
    align-items: center;
}

.btn-Wrapper .btn-custom {
    height: 30px;


}

.block-text {
    display: flex;
    align-items: center;
    width: 80px;
    text-align: center;
    cursor:pointer;
    margin-top:10px;
}


.btn-Wrapper .btn-custom:first-child {
    background: yellow;
}

.invite-labels {
    font-size: 20px;
}

.groupIcon_wrapper {
    height: 120px;
    width: 120px;
    margin: 10px 0;
}

.groupIcon_wrapper_container {
    width: 100%;
    display: flex;
    justify-content: center;
}