.userlistWrapper {
    margin:14px 8px;
    height: 40px;
    padding:4px 16px;
    background: rgba(211, 211, 211, 0.47);
    color:black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}
