.group-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.item-wrapper {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 50%;
    cursor: pointer;
}

.group-item-container {
    height: 100%;
    width: 100%;

}

.item-wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.groupIcon-container-wrapper {
    margin: 14px 0;
    height: 60px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.usernameWrapper {
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 100ms;

}

.usernameWrapper:hover {
    background: rgba(157, 152, 152, 0.24);
}

.customMenu-wrapper {
    position: absolute;
    top: 0;
    left: -80px;
    z-index:999999999;
}

.customMenu-wrapper {
    height: fit-content;
    background: whitesmoke;
    color: black;

}

.menu-item {
    padding: 4px 20px;
    border-radius: 6px;
}

.menu-item:hover {
    background: lightgrey;
    cursor: pointer;
}


.customMenu-wrapper {
    border-radius:6px;
}

.menu {
    display: none;
}

.customMenu-wrapper ::before {
    content: '';
    position: absolute;
    top: 4px;
    right: -22px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent whitesmoke transparent;
    transform: rotate(90deg);
}

.userIcon:hover .menu {
    display: block;
}

.imageUploader {
    width: 100px !important;
}

.imageUploader .fileContainer {
    background: transparent;
    border: none;
    box-shadow: unset;
    margin:0 auto !important;
    padding:0px !important;
}

.dialogCoverImageContainer {
    height: 24vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.row1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.btn-custom-profile {
    width: 100px;
}

.profile-Wrapper {
    display: flex;
    flex-direction: column;

}

.row {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
}

.row label {
    color: #797575;
    font-size: large;
}

.row-space {
    /* padding:0 40px; */
}

.row:last-of-type {
    margin-top: 20px;
}

.update-btn {
    display: flex;
    justify-content: end;
    position: relative;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.profileCoverImage {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.group-token-container {
    max-height: 150px;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    align-items: center;

}

.lgt-btn{
    margin-top:auto;
}