.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:14px;
}
.dialogBody{
    padding: 2px 16px;
    width: 20vw;
    min-width: 300px;
}
.dialog {
    border-radius: 4px;
    position: absolute;
    top: 10%;
    margin: 0 auto;
    border:none;
    z-index: 9999999999;
}

.dialogWrapper {
    height: 100%;
}

.dialogHeaderText {
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}

