.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:14px;
    background: rgba(0, 128, 0, 0.06);
    border-radius: 10px;
}
.dialogBody{
    padding: 4px 0;
    min-width: 300px;
}
.dialog-ele {
    border-radius: 4px;
    position: absolute;
    margin: 0 auto;
    border:none;
    z-index: 9999999999;
    top:0;
    height: fit-content;
    width: 40vw;
}

.dialogWrapper {
    height: 100%;
}

.dialogHeaderText {
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
    color:darkgreen;
}

