.dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:14px;
}
.dialogBody{
    padding:2px 16px;
}
.dialog {
    width: 30vw;
    min-width: 20vw;
    border-radius: 4px;
    position: absolute;
    top: 10%;
    margin: 0 auto;
    border:none;
    z-index: 99;
}

.dialogWrapper {
    height: 100%;
}

.dialogHeaderText {
    font-size: 18px;
}

