@font-face {
  font-family: 'defaultfont';
  src: local('defaultfont'), url(./YsabeauInfant-VariableFont_wght.ttf) format('truetype');
}

* {
  font-family: defaultfont, serif;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  margin: 0;
  height:100vh;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  background: #030303;
  /*background-image: url('./assets/png/background.jpg');*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}
#root{
  height: 100%;
}
div {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

div::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.font-primary{
  color:lightgrey;
  font-weight: 500;
}
.font-secondary{
  color:green;
  font-weight: 600;
}

.btn{
  height:2.4rem;
  width:3rem;
  border:1px solid whitesmoke;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}
.btn-primary{
  background: white;
}
.btn-round{
  border-radius: 50%;
}
.flex{
  display: flex;
}
.center{
  justify-content: center;
  align-items: center;
}
.borderRadius-light{
  border-radius: 4px;
}
.borderRadius-heavy{
  border-radius: 8px;
}
.w100{
  width: 100%;
}
.btn-round-secondary{
  border:1px solid green;
  background: white;
  color:green;
}
.btn-round-primary:hover{
  background:darkgreen !important;
}
.btn-round-primary{
  background: green !important;
  color:white !important;
}
.btn-round-secondary:hover{
  background: lightgray;
}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-right{
  justify-content: right;
  align-items: end;
}
.w75{
  width: 75%;
}
.m4{
  margin:4px;
}
.w50{
  width: 50%;
}