@font-face {
    font-family: 'defaultfont';
    src: local('defaultfont'), url(./YsabeauInfant-VariableFont_wght.ttf) format('truetype');
}

* {
    font-family: defaultfont, serif;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url("./assets/png/bg.png");
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
    min-height: max-content;
}

.chat-bubble {
    background-color: #E6F8F1;
    padding: 16px 28px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display: inline-block;
}

.typing {
    align-items: center;
    display: flex;
    height: 17px;
}

.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #6CAD96;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #6CAD96;
    }
    28% {
        transform: translateY(-7px);
        background-color: #9ECAB9;
    }
    44% {
        transform: translateY(0px);
        background-color: #B5D9CB;
    }
}


#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the scrollbar */
div::-webkit-scrollbar {
    width: 0; /* Hide scrollbar for Chrome, Safari, and Opera */
}

div {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}


.font-primary {
    color: lightgrey;
    font-weight: 500;
}

.font-secondary {
    color: #398378;
    font-weight: 600;
}

.btn {
    height: 2rem;
    width: fit-content;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 2px 8px;
    transition: all 0.5s;
}

.btn-primary {
    background: white;
}

.btn-round {
    border-radius: 50%;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
    align-items: center;
}

.borderRadius-light {
    border-radius: 4px;
}

.borderRadius-heavy {
    border-radius: 8px;
}

.w100 {
    width: 100% !important;
}

.btn-round-secondary {
    background: white;
    color: green;
}

.btn-round-primary:hover {
    background: darkgreen !important;
}

.btn-round-primary {
    background: green !important;
    color: white !important;
}

.btn-round-secondary:hover {
    background: green;
    color: white
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-right {
    justify-content: right;
    align-items: end;
}

.w75 {
    width: 75%;
}

.m4 {
    margin: 4px;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

#tooltip {
    position: absolute;
    left: -46px;
    top: 32px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    z-index: 9;
    display: none;
}

#tooltip.right {
    margin-left: 5px;
}

#tooltip.left {
    margin-left: -5px;
}

#tooltip.top {
    margin-top: -5px;
}

#tooltip.bottom {
    margin-top: 5px;
}

#tooltip .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

dialog::backdrop {

}

#tooltip.right .tooltip-arrow {
    top: 50%;
    left: auto;
    margin-left: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}


#tooltip.top .tooltip-arrow {
    top: auto;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

#tooltip.left .tooltip-arrow {
    top: 50%;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
    right: -5px;
    left: auto;
}

#tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

#tooltip .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-right-color: transparent;
    border-style: solid;
}

#tooltip .tooltip-label {
    max-width: fit-content;
    padding: 3px 8px;
    color: #a1a0a0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 30px;
}

.tooltip-selector:hover #tooltip {
    display: block;
}


.pointer {
    cursor: pointer;
}

.borderNone {
    border: none !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.div_animateLR {
    position: relative;
    animation: 2s infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        left: 0;
    }
    5% {
        left: -0.1px;
    }
    10% {
        left: -0.3px;
    }
    15% {
        left: -0.3px;
    }
    20% {
        left: -0.4px;
    }
    25% {
        left: -0.5px;
    }
    30% {
        left: -0.6px;
    }
    35% {
        left: -0.5px;
    }
    40% {
        left: -0.4px;
    }
    45% {
        left: -0.3px;
    }
    50% {
        left: -0.2px;
    }
    55% {
        left: -0.1px;
    }
    60% {
        left: 0;
    }
}


.dnone {
    display: none !important;
}

.dblock {
    display: block !important;
}

.dflex {
    display: flex !important;
}

.height95 {
    height: 95% !important;
}

.h100 {
    height: 100% !important;
}

.p8 {
    padding: 8px;
}

.m8 {
    margin: 8px;
}

.border-light {
    border: 1px solid lightgrey;
}

.m0 {
    margin: 0 !important;
}

.br-none {
    border-radius: 0 !important;
}

.pabsolute {
    position: absolute;
    display: flex;
    height: 100%;
    z-index: 99;
    background: #1C1D1C;
}

.flex-column{
    flex-direction: column !important;
}
.flex-row{
    flex-direction: row !important;
}
.app-input{
    background:transparent;
    color:white;
    border:none;
    width: 100%;
}
.font-thick{
    font-weight: 800;
}
.app-checkbox-round{
    height:20px;
    width: 20px;
    border-radius: 50px;
    border:none;
}
.flex-start{
    align-items: start;
    justify-content: start;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.flex-wrap{
    flex-wrap: wrap;
}